header{
	height: 90px;
}
.header{
	display: flex;
	justify-content: space-between;
}
.nav{
	padding: 30px;
	margin-left: 60px;
}
.nav a{
	margin: 10px;
	color: black;
}
.nav i{
	color: #008489;
}
.nav a:hover{
	color: black;
	border-bottom: 1px solid black;
}
.start{
	background: white;
	border:1px solid white;
	border-radius: 5px;
	width: 450px;
	height: 450px;
}
.start-in{
	margin: 25px;
}
.start h2{
	font-size: 37px;
	font-weight: bold;
}
.start p{
	margin-top: 10px;
	opacity: 0.8;
}
.start input{
	width: 400px;
	height: 50px;
	border-radius: 5px;
}
.body-1 img{
	position: relative;
}
.start{
	position: absolute;
	top: 150px;
	right: 120px;
}
.select1,.select2{
	background: white;
	margin: 10px 10px 10px 0;
}

.select1{
	width: 250px;
	height: 50px;
}

.select2{
	width: 120px;
	height: 50px;
}
.number{
  font-size: 35px;
  font-weight: bold;
}
.des{
	font-size: 15px;
}
.start2 button {
	width: 400px;
	height: 50px;
	background: red;
	color: white;
	border-radius: 5px;
}

.estimate {
	padding:30px;
	margin-right: 40px;
}
.estimate span,button{
  margin: 5px;
}
.one{
	font-size: 12px;
}
.two{
	font-size: 25px;
	font-weight: bold;
}
.estimate button{
	padding: 10px;
	background: red;
	color: white;
	border-radius: 5px;
}
.title{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 60px;
}

.bord{
	width: 64px;
	border: 1px solid #767676;
	margin: 60px auto 20px;
}

.pic{
	margin: 20px;
}
.step h3{
	font-size: 24px;
	font-weight: 800;
	line-height: 1.25em;
	color: #484848;
	padding-top: 2px;
	padding-bottom: 2px;
}
.step p {
	color: #484848;
}

.step a {
	color: #008489;
}
#hiko{
	font-weight: normal;
	color: #484848;
	font-size: 15px;
}
.card3{
	margin: 0 auto;
}
.card3 h3{
	margin-left: 20px;
}
.step2 p {
	color: #484848;
	margin: 10px 0;
}
.step2 a{
	color: #008489;
}

.body-4 img{
	margin-left: 12%;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.body-5{
	margin-bottom: 100px;
}