.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

html {
	font-size: 62.5%;
	font-family: 'メイリオ', Meiryo,sans-serif;
	color: #333;
}

header {
	width: 100%;
	height: 75px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

#header-inner{
	width: 90%;
	height: 50px;
	margin: 0 auto;
}

#header-title{
	float: left;
	width: 350px;
	height: 40px;
	color: #333;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: 0.5px;
	background-image: url("../images/isaralogo.png");
	background-repeat: no-repeat;
	background-size: 129px 46px;
	padding-left: 135px;
	padding-top: 20px;
	margin-top: 16px;
}

#header_right_pc{
	float: right;
	width: 260px;
	background-color: red;
	border-radius: 50px;
	font-size: 1.4rem;
	margin: 15px 0 10px;
	text-align: center;
	max-width: 320px;
	min-width: 262px;

}

#header_right_pc:hover{
	background-color: pink;
}

#header_right_pc a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 15px 0;
}


@media (max-width: 767px) {
	.pc {
		display: none;
	}
	header {
		width: 100%;
		height: 62px;
		clear: both;
	}
	#header-inner {
		width: 100%;
		position: relative;
		/*background-color:blue;*/
	}
	#header-title{
		float: left;
		width: 196px;
		height: 44px;
		color: #333;
		font-size: 11px;
		font-weight: 900;
		letter-spacing: 0.5px;
		background-image: url(../images/isaralogo.png);
		background-repeat: no-repeat;
		background-size: 90px 30px;
		background-position: bottom left;
		padding: 0;
		margin-top: 10px;
		margin-left: 7px;
	}
	#header_right_smart a{
		color: #fff;
		text-decoration: none;
		font-size: 12px;
		top: 40px;
		right: 30px;
	}
}