body{
	font-size: 15px;
}

.site-top{
	margin-bottom: 70px;
}

.site-top-table{
	width: 100%;
}

.site-branding{
	padding-right: 75px;
}

.site-title{
	font-size: 36px;
}

.site-title, a{
	text-decoration: none;
}
.site-description{
	margin-top: -20px;
}
li{
	display: inline-block;
}