body{
	margin: 0;
	color: #333;
}

.txt-l{
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}

.txt-m{
	font-size: 20px;
	margin-bottom: 10px;
}

.header-in p{
	margin:0;
	display: inline-block;
}

header img{
	vertical-align: bottom;
}

.header-in{
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #fff;
	padding: 15px 50px;

}

.divider{
	height: 1000px;
	background-color:#69c;
}
/*ヘッダーを固定するための記述*/

.btn{
	width: 318px;
	height: 44px;
	border: 1px solid #D86C67;
	background-color: #D86C67;
	border-radius: 25px;
	text-align: center;
	display: inline-block;
	float: right;
	margin-right: 70px;
}
.btn a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	display: block;
	height: 100%;
	padding-top: 10px;
}

.btn:hover{
	background-color: #D84940;
}

.isaratop{
	background-image: url(images/mainspjpg.jpg);
	background-size: cover;
	height: 500px;
	text-align: center;
}

.isaratop h1{
	padding-top: 150px;
	line-height: 50px;
}

.isaratop p{
	font-weight: 600;
	margin-top: 30px;
}