body{
	margin: 0;
	color: #333;
}

p, h1, h2{
	text-align: center;
	margin: 0;

}

.txt-l{
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}

.txt-m{
	font-size: 20px;
	margin-bottom: 10px;
}

.header-in p{
	margin:0;
	display: inline-block;
}

header img{
	vertical-align: bottom;
}

.header-in{
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #fff;
	padding: 15px 50px;
	z-index: 10;
}

.divider{
	height: 1000px;
	background-color:#69c;
}
/*ヘッダーを固定するための記述*/

.btn{
	width: 318px;
	height: 44px;
	border: 1px solid #D86C67;
	background-color: #D86C67;
	border-radius: 25px;
	text-align: center;
	display: inline-block;
	float: right;
	margin-right: 70px;
}
.btn a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	display: block;
	height: 100%;
	padding-top: 10px;
}

.btn:hover{
	background-color: #D84940;
}

.isaratop{
	background-image: url(images/mainspjpg.jpg);
	background-size: cover;
	height: 500px;
	text-align: center;
}

.isaratop h1{
	padding-top: 150px;
	line-height: 50px;
}

.isaratop p{
	font-weight: 600;
	margin-top: 30px;
}

.ask{
	background-color: #EBB94D;
	height: 600px;
	color: #fff;
	margin-bottom: 50px;
}

.ask .txt-m{
	padding-top: 40px;
}

.ask-point{
	background-color: #F9F2F4;
	border-radius: 3px;
	color: #C7254E;
	width: 420px;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
	font-weight: 600;

}

.btn2{
	width: 80%;
	height: 104px;
	border: 1px solid #D86C67;
	background-color: #D86C67;
	border-radius: 50px;
	text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}
.btn2 a{
	text-decoration: none;
	color: #fff;
	font-size: 28px;
	display: block;
	height: 100%;
	line-height: 104px;
}

.btn2:hover{
	background-color: #D84940;
}

.ask h2{
	font-size: 21px;
	margin-top: 30px;
}

.sns{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

/*/////////freedom/////////////*/


.freedom{
	background-image: url(images/introbottom.jpg);
	background-size: cover;
	height: 560px;
	position: relative;
}

.txt-box{
	width: 860px;
	max-width: calc(100%-40px);
	margin: 0 auto;
	position: relative;
	z-index: 9;
}

.txt-box::before, .txt-box::after{
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
}

.txt-box::before{
	border-top: 4px solid #EAB857;
	border-left: 4px solid #EAB857;
	top: 0;
	left: 0;
}

.txt-box::after{
	border-right: 4px solid #EAB857;
	border-bottom: 4px solid #EAB857;
	bottom: 0;
	right: 0;
}

.freedom .txt-box .txt-l{
	padding: 30px 0 30px 0;
}
.underline{
	background: linear-gradient(transparent 70%, #EBB94D 50%);
	font-weight: 600;
}
.about-btn{
	color: #fff;
	background-color: #EAB857;
	height:80px;
	width:80px;
	border-radius:50%;
	position: absolute;
	bottom: -40px;
	right: 0;
	left: 0;
	margin:0 auto;
}

.about-btn p{
	line-height: 80px;
}